<%- include header %>
<ul class="archive">
<!--在模版中设置一个 lastYear 变量判断是否和上次已经显示的年份相同，相同则不再显示年份，不同
则显示-->
<% var lastYear = 0 %>
<% posts.forEach(function (post, index) { %>
	<% if (lastYear != post.time.year) { %>
		<li><h3><%= post.time.year %></h3></li>
	<% lastYear=post.time.year } %>
	<li><time><%= post.time.day %></time></li>
	<li><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></li>
<% }) %>
</ul>
<%- include footer %>